
  body {
	background-image: url("fibonacci.jpg");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
  div {
	margin-bottom: 2px;  
	margin-top: 1px;
	margin: auto;
	margin-top: 1px;
	margin-bottom: 2px;
	text-align:center;
  }
  #warning{
	margin-top: 1px;
	margin-bottom: 2px;
	text-align:center;
	font-size: 1.5vh;
	background: rgba(253, 209, 182, 0.55);
	width: 45%;
  }
  header {
    background: rgba(253, 209, 182, 0.55);
    height: 20vh;
	margin: auto;
	margin-top: 1px;
	margin-bottom: 2px;
	text-align:center;
	width: 45%;
	font-size: 3.5vh;
	border: 1px solid black;
  }
  table {
	margin: 0 auto;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-spacing: 0;
	box-shadow: 0 5px 15px -3px black;
	background: rgba(197, 239, 226, 0.8);
	}
	
	td{
	padding: 5px 20px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	text-align: center;
    }
	tr:first-child, tr:nth-child(2){
	font-weight: bold;
	font-size: 1.1em;
    }

  